<!--该页面的歌曲默认全部是能够播放的-->
<html>
<head>
	<meta charset="UTF-8">
	<title>LiBerte Music</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script type="text/javascript">
	function playall(){
		//var netease_str = document.getElementById("taste_netease").value;
		var xiami_str = document.getElementById("taste_xiami").value;
		
		if(xiami_str!="")
		{
			
			var xiami = JSON.parse( xiami_str );
			var length = xiami.length ;
			for (var i = 0; i < length; i++) {
				
				song = {
					title: xiami[i]["name"],
					artist: xiami[i]["artist_name"],
					album: xiami[i]["album_name"],
					cover:xiami[i]["cover"],
					mp3: xiami[i]["mp3Url"],
					ogg: ''
				};
				window.parent.playlist.push(song);
				//console.log(playlist);
				var ul = window.parent.document.getElementById("playlist");
				//console.log(ul);
				var li = document.createElement('li');
				li.textContent = song.artist+' - '+song.title;
				ul.appendChild(li);
			};
		}
	}

	function playsong1(name,artist,album,cover,mp3Url){
		//console.log(mp3Url);
		//console.log(cover);
		song = {
			title: name,
			artist: artist,
			album: album,
			cover:cover,
			mp3: mp3Url,
			ogg: ''
		};
		window.parent.playlist.push(song);
		//console.log(playlist);
		var ul = window.parent.document.getElementById("playlist");
		//console.log(ul);
		var li = document.createElement('li');
		li.textContent = song.artist+' - '+song.title;
		ul.appendChild(li);
	}
	function playsong(is_playable,type,id,name,artist,artist_id,album,album_id,cover){
		$.ajax({
			type : "POST",
			url : "/get_link/",
			data : {is_playable:is_playable,type:type,id:id,name:name,artist:artist,artist_id:artist_id,album:album,album_id:album_id,cover:cover},
			dataType : "text",
			success : function(ret){
				rarray = ret.split(";")
				if(rarray[0] != "404")
				{
					song = {
						title: name,
						artist: artist,
						album: album,
						cover:rarray[1],
						mp3: rarray[0],
						ogg: ''
					};
					window.parent.playlist.push(song);
					//console.log(playlist);
					var ul = window.parent.document.getElementById("playlist");
					console.log(ul);
					var li = document.createElement('li');
					li.textContent = song.artist+' - '+song.title;
					ul.appendChild(li);
				}
			}
		});
	}
	function favorsong(type,id,name,artist,artist_id,album,album_id){
		
		if(window.event.target.nodeName == "SPAN")
		{
			var button = window.event.target.parentNode;
		}
		else
		{
			var button = window.event.target;
		}
		$.ajax({
			type : "POST",
			url : "/add_to_playlist/",
			data : {type:type,id:id,name:name,artist:artist,artist_id:artist_id,album:album,album_id:album_id},
			dataType : "text",
			success : function(ret){
				if(ret == "True")
				{
					button.className = "btn btn-danger btn-sm";
					button.childNodes[1].className = "glyphicon glyphicon-star";
				}
			}
		});
	}
</script>
</head>
<body>
{% include 'nav.html' %} 
<div style="padding-top:10px;padding-right: 0px;padding-left: 0px;">
	<!-- a 的href 自己抓  不用原生的-->
	

	{% if profile%}
	{% if not profile.status %}
	<div class="alert alert-warning" role="alert">{{ profile.message }}</div>
	{% endif %}
	
	<ul class="nav nav-tabs">
  		<li role="presentation"  class="active"><a href="javascript:;">今日推荐</a></li>
  		{% if profile.bound_netease %}
  		<li role="presentation"><a class="fake" href="/#/home/netease/">网易收藏</a></li>
  		{% endif %}
  		{% if profile.bound_xiami %}
  		<li role="presentation"><a class="fake" href="/#/home/xiami/">虾米收藏</a></li>
  		{% endif %}
	</ul>
	<br/>
	<div>
	{%  if profile.taste_netease or profile.taste_xiami %}
	{%  if profile.taste_xiami %}
	
	<input type="hidden" id="taste_xiami" value="{{profile.taste_xiami_str}}">
	<button type="button" class="btn btn-warning btn-sm" style="float:left;" onclick="playall()">
  		播放虾米全部
	</button>
	<br/>
	{% endif %}
	<br/>
	<table class="table">
	<tr>
		<th>#</th>
		<th>歌曲</th>
		<th>时长</th>
		<th>歌手</th>
		<th>专辑</th>
	</tr>
	{% for song in profile.taste_netease %}
	
	<tr >
	<td>
	<button type="button" class="btn btn-default btn-sm" onclick="favorsong('n','{{song.id}}','{{song.name|safe}}','{{song.artist_name|safe}}','{{song.artist_id}}','{{song.album_name|safe}}','{{song.album_id}}')">
  		<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 收藏
	</button>
	</td><td>
	<a  href="javascript:;" onclick="playsong('True','n','{{song.id}}','{{song.name|escapejs}}','{{song.artist_name|escapejs}}','{{song.artist_id}}','{{song.album_name|escapejs}}','{{song.album_id}}','cover')">{{song.name}}</a>
	</td>
	<td>{{song.duration}}</td>
	<td><a target="_blank" href="http://music.163.com/artist?id={{song.artist_id}}">{{song.artist_name|safe}}</a></td>
	<td><a target="_blank" href="http://music.163.com/album?id={{song.album_id}}">{{song.album_name|safe}}</a></td>
	</tr>
	{% endfor %}
	</table>
	{% if profile.taste_xiami %}
	<hr/>
	{% endif %}
	<table class="table">
	<h4>虾米</h4>
	{% for song in profile.taste_xiami %}
	
	<tr>
	<td>
	<button type="button" class="btn btn-default btn-sm" onclick="favorsong('x','{{song.id}}','{{song.name|safe}}','{{song.artist_name|safe}}','{{song.artist_id}}','{{song.album_name|safe}}','{{song.album_id}}')">
  		<span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span> 收藏
	</button>
	</td><td>
	<a  href="javascript:;" onclick="playsong1('{{song.name|escapejs}}','{{song.artist_name|escapejs}}','{{song.album_name|escapejs}}','{{song.cover}}','{{song.mp3Url}}')">{{song.name|safe}}</a>
	</td>
	<td>{{song.duration}}</td>
	<td><a target="_blank" href="http://www.xiami.com/artist/{{song.artist_id}}">{{song.artist_name|safe}}</a></td>
	<td><a target="_blank" href="http://www.xiami.com/album/{{song.album_id}}">{{song.album_name|safe}}</a></td>
	</tr>
	{% endfor %}
	</table>
	<br/>
	{% else %}
	<h3>请绑定<a class="fake" href="/#/bound/netease/">网易云音乐</a>或者
	<a class="fake" href="/#/bound/xiami/">虾米</a>
	<a class="fake" style="color: red;" href="/#/bound/xiami/taobao/">(淘宝)</a>
	音乐
	</h3>
	{% endif %}
	</div>

	{% endif %}

</div>
<script src="{{STATIC_URL}}js/iframe.js"></script>
</body>
</html>