<!--该页面的歌曲不一定都能播放-->
<!--增加播放事件-->
<html>
<head>
	<meta charset="UTF-8">
	<title>LiBerte Music</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script type="text/javascript">
	function playsong(is_playable,type,id,name,artist,artist_id,album,album_id,cover){
		$.ajax({
			type : "POST",
			url : "/get_link/",
			data : {is_playable:is_playable,type:type,id:id,name:name,artist:artist,artist_id:artist_id,album:album,album_id:album_id,cover:cover},
			dataType : "text",
			success : function(ret){
				rarray = ret.split(";")
				if(rarray[0] != "404")
				{
					song = {
						title: name,
						artist: artist,
						album: rarray[2],
						cover:rarray[1],
						mp3: rarray[0],
						ogg: ''
					};
					var ul = window.parent.document.getElementById("playlist");
					if(window.parent.playlist[0]["title"] == "-")
					{
						window.parent.playlist.shift();
						var li = ul.childNodes[0];
						ul.removeChild(li);
					}
					var length_playlist = window.parent.playlist.length;
					window.parent.playlist.push(song);
					localStorage.setItem("playlist",JSON.stringify(window.parent.playlist));
					var li = document.createElement('li');
					li.textContent = song.artist+' - '+song.title;
					ul.appendChild(li);
					localStorage.setItem("playlist_ul",ul.parentNode.innerHTML);
					window.parent.switchTrack(length_playlist);
				}
			}
		});
	}
	</script>
</head>
<body>
	{% include 'nav.html' %} 

<div class="container">
	<!-- a 的href 自己抓  不用原生的-->
	{% if profile%}
	{% if not profile.status %}
	<div class="alert alert-warning" role="alert">{{ profile.message }}</div>
	{% endif %}
	
	<ul class="nav nav-tabs">
  		<li role="presentation"><a class="fake" href="/#/">今日推荐</a></li>
  		{% if profile.bound_netease %}
  		<li role="presentation"><a class="fake" href="/#/home/netease/">网易收藏</a></li>
  		{% endif %}
  		<li role="presentation" class="active"><a href="javascript:;">虾米收藏</a></li>
	</ul>
	<br/>
	<div>
	{%  if profile.favor_song_xiami %}
	<table class="table">
	<tr>
		<th>歌曲</th>
		<th>歌手</th>
	</tr>
	{% for song in profile.favor_song_xiami %}
	
	<tr>
	<td>
	<button type="button" class="btn btn-default btn-sm" onclick="playsong('{{song.song_is_playable}}','x','{{song.song_id}}','{{song.song_name}}','{{song.artist_name}}','{{song.artist_id}}','test','test','cover')">
  		<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
	</button>
	</td><td>
	<a  href="http://www.xiami.com/song/{{song.song_id}}/" target="_blank">{{song.song_name}}</a>
	</td>
	<td><a target="_blank" href="http://www.xiami.com/artist/{{song.artist_id}}/">{{song.artist_name}}</a></td>
	</tr>
	{% endfor %}

	</table>
	{% endif %}
	</div>

	{% endif %}
	<nav>
	  <ul class="pagination">

	    <li>
	    {% ifequal profile.current_page  1 %}
	      <span>
	        <span aria-hidden="true">&laquo;</span>
	      </span>
	    {% else %}
	       <a class="fake" href="/#/home/xiami/{{profile.current_page_pre}}/" aria-label="Previous">
	        <span aria-hidden="true">&laquo;</span>
	       </a>
	    {% endifequal %}
	    </li>

	    {% for page in profile.page_total_list %}
	    {% ifequal profile.current_page  page %}
	    <li class="active"><span>{{page}} <span class="sr-only">(current)</span></span></li>
	    {% else %}
	    <li><a class="fake" href="/#/home/xiami/{{page}}/">{{page}}</a></li>
	    {% endifequal %}
	    {% endfor %}

	    <li>
	    	{% ifequal profile.current_page  profile.page_total %}
	      	<span>
	        	<span aria-hidden="true">&raquo;</span>
	      	</span>
	      	{% else %}
	      		<a class="fake" href="/#/home/xiami/{{profile.current_page_next}}/" aria-label="Next">
	        	<span aria-hidden="true">&raquo;</span>
	       		</a>
	      	{% endifequal %}
	    </li>
	  </ul>
	</nav>
	<br/>
<div style="height: 150;"></div>
</div>
<script src="{{STATIC_URL}}js/iframe.js"></script>
</body>
</html>