<!--该页面的歌曲不一定都能播放-->
<!--增加播放事件-->
<!--增加detail-->
<html>
<head>
	<meta charset="UTF-8">
	<title>LiBerte Music</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script type="text/javascript">
	function playlist(type,id){
		$.ajax({
			type : "POST",
			url : "/get_playlist_links/",
			data : {type:type,id:id},
			dataType : "text",
			success : function(ret){
				rarray = ret.split(";")
				if(rarray[0] != "404")
				{
					song = {
						title: name,
						artist: artist,
						album: album,
						cover:rarray[1],
						mp3: rarray[0],
						ogg: ''
					};
					window.parent.playlist.push(song);
					//console.log(playlist);
					var ul = window.parent.document.getElementById("playlist");
					console.log(ul);
					var li = document.createElement('li');
					li.textContent = song.artist+' - '+song.title;
					ul.appendChild(li);
				}
			}
		});
	}
	</script>
</head>
<body>
<div style="padding-top:10px;padding-right: 0px;padding-left: 0px;">
	<!-- a 的href 自己抓  不用原生的-->
	{% if profile%}
	{% if not profile.status %}
	<div class="alert alert-warning" role="alert">{{ profile.message }}</div>
	{% endif %}
	
	<ul class="nav nav-tabs">
  		<li role="presentation"><a class="fake" href="/#/">今日推荐</a></li>
  		<li role="presentation" class="active"><a href="javascript:;">网易收藏</a></li>
  		{% if profile.bound_xiami %}
  		<li role="presentation"><a class="fake" href="/#/home/xiami/">虾米收藏</a></li>
  		{% endif %}
	</ul>
	<br/>

	{%  if profile.favor_song_netease %}
	{% for song_list in profile.favor_song_netease %}
	<img onclick="playlist('n','{{song_list.id}}')" src="{{song_list.coverImgUrl}}" class="img-circle" width="140" height="140">
	<a class="fake" href="/#/netease/playlist/{{song_list.id}}">{{song_list.name}}</a>
	<p>共 <strong>{{song_list.trackCount}}</strong> 首</p>
	{% endfor %}
	{% endif %}
	
	{% endif %}

</div>
<script src="{{STATIC_URL}}js/iframe.js"></script>
</body>
</html>