<html>
<head>
	<meta charset="UTF-8">
	<title>登录</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</head>
<body>
	{% include 'nav.html' %} 

<div class="container" style="padding-top:10px;">
	<form class="form-horizontal" method="post" action="">
		{% csrf_token %}
	  <div class="form-group">
	  	{% if not message.status %}
		<div class="alert alert-warning" role="alert">{{ message.titleMsg }}</div>
		{% endif %}

	  	<label for="id">账户（Email）:</label>
	  	<input type="text" class="form-control" name='id' id='id' placeholder="Email">
	  	<label for="passwd">密码:</label>
	  	<input type="password" class="form-control" name='passwd' id='passwd' placeholder="密码">
	  	
	  	<button type="submit" class="btn btn-primary btn-lg">登录</button>
	  	<a class="fake"href="/#/register/" class="">注册</a>
	  	<a href="/findpasswd/" class="">找回密码</a>
	  	
	  </div>
	</form>
	<br/>
<div style="height: 150;"></div>
</div>
<script src="{{STATIC_URL}}js/iframe.js"></script>
</body>
</html>