<html>
<head>
	<meta charset="UTF-8">
	<title>LiBerte Music</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}js/main.js"></script>
	
</head>
<body>

<div style="padding-top:10px;padding-right: 0px;padding-left: 0px;float: left;width: 40%;">
	{% include 'player.html' %} 
</div>
<iframe  id="l_iframe"src="about:blank"></iframe>
</body>
</html>