<html>
<head>
	<meta charset="UTF-8">
	<title>逛逛</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
	<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}js/playandfavorfuncs.js"></script>
</head>
<body>
	{% include 'nav.html' %} 

<div class="container" style="padding-top:10px;">

	<!-- a 的href 自己抓  不用原生的-->

	<ul class="nav nav-tabs">
  		<li role="presentation"  class="active"><a href="javascript:;">大虾推荐</a></li>
  		<li role="presentation"><a class="fake" href="/#/more/playlist/">新碟歌单</a></li>
	</ul>
	<br/>

	{% if results.result_xiami.daxia %}

	<table class="table">
		<tr>
			<th>#Play</th>
			<th>歌曲</th>
			<th>艺人</th>
			<th>上榜理由</th>
			<th>上榜时间</th>
		</tr>
	{% for daxia in results.result_xiami.daxia %}
	<tr>
		<td width="10%">
		<button type="button" class="btn btn-default btn-sm" onclick="playsong('True','x','{{daxia.id}}','{{daxia.name|escapejs}}','{{daxia.artist|escapejs}}','-1','unknown','-1','cover')" aria-hidden="true"></span>
			<span class="glyphicon glyphicon-music" aria-hidden="true"></span>
		</button>
		</td>
		<td width="10%"><a target="_blank" href="http://www.xiami.com/song/{{daxia.id}}">{{daxia.name}}</a></td>
		<td width="10%"><a target="_blank" href="http://www.xiami.com/search/artist?key={{daxia.artist}}">{{daxia.artist}}</a></td>
		<td width="60%">{{daxia.reason}}</td>
		<td width="10%">{{daxia.time}}</td>
	</tr>
	{% endfor %}
	</table>
	{% endif %}
	<br/>
<div style="height: 150;"></div>	
</div>
<script src="{{STATIC_URL}}js/iframe.js"></script>
</body>
</html>