<html>
<head>
	<meta charset="UTF-8">
	<title>逛逛</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{STATIC_URL}}css/style.css">
	<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="padding-top:10px;">
	<script type="text/javascript">
		function add_song(id){
	
			
						
							song = {
								title: '德国第一装甲师进行曲',
								artist: '德国',
								album: '德国第一装甲师进行曲.mp3',
								cover:'',
								mp3: 'http://m2.music.126.net/BsOGGfOS7CueDaj6_mJYtA==/6620159510912123.mp3',
								ogg: ''
								};
								playlist.push(song);
								//switchTrack(playlist.lenth-1);
								console.log(playlist);
							
								$('#playlist').append('<li>'+song.artist+' - '+song.title+'</li>');
							
		}
        
    </script>

	<!-- a 的href 自己抓  不用原生的-->
	{% if results.result_netease.hot_recommend %}
	<h3>热门歌单</h3>
	<div class="row">
	{% for hot_recommend in results.result_netease.hot_recommend %}
	<div class="col-sm-4 col-md-2">
	<div class="thumbnail" height="250">
	<a href="#" onclick="add_song({{hot_recommend.id}})" >
		<img src="{{hot_recommend.image}}" alt="点击播放" class="img-circle">
	</a>
	<a target="_blank" href="http://music.163.com/playlist?id={{hot_recommend.id}}" style="display: block;width:160px;">
		{{hot_recommend.title}}
	</a>
	</div>
	</div>
	{% endfor %}
	{% endif %}

	{% if results.result_xiami.hot_recommend %}
	{% for hot_recommend in results.result_xiami.hot_recommend %}
	<div class="col-sm-4 col-md-2">
	<div class="thumbnail" height="250">
	<a href="#" onclick="" >
		<img src="{{hot_recommend.image}}" alt="点击播放" class="img-circle" width="140" height="140">
	</a>
	<a target="_blank" href="http://www.xiami.com/collect/{{hot_recommend.id}}" style="display: block;width:160px;">
		{{hot_recommend.title}}
	</a>
	</div>
	</div>
	{% endfor %}
	{% endif %}


	{% if results.result_netease.new_cd %}
	<h3>新碟上架</h3>
	<div class="row">
	{% for new_cd in results.result_netease.new_cd %}
	<div class="col-sm-2">
	<a href="#" onclick="" >
		<img src="{{new_cd.image}}" alt="点击播放" class="img-circle">
	</a>
	<a target="_blank" href="http://music.163.com/album?id={{new_cd.id}}" style="display: block;width:120px;">
		{{new_cd.title}}
	</a>
	<a target="_blank" href="http://music.163.com/artist?id={{new_cd.artist_id}}" style="display: block;width:120px;">
		{{new_cd.artist}}
	</a>
	</div>
	{% endfor %}
	{% endif %}

	{% if results.result_xiami.new_cd %}
	{% for new_cd in results.result_xiami.new_cd %}
	<div class="col-sm-2">
	<a href="#" onclick="" >
		<img src="{{new_cd.image}}" alt="点击播放" class="img-circle" width="100" height="100">
	</a>
	<a target="_blank" href="http://www.xiami.com/album/{{new_cd.id}}" style="display: block;width:120px;">
		{{new_cd.title}}
	</a>
	<a target="_blank" href="http://www.xiami.com/artist/{{new_cd.artist_id}}" style="display: block;width:120px;">
		{{new_cd.artist}}
	</a>
	</div>
	{% endfor %}
	</div>

	{% endif %}

	{% if results.result_xiami.daxia %}
	<h3>滚动电台</h3>
	<table>
		<tr>
			<th>歌曲</th>
			<th>艺人</th>
			<th>上榜理由</th>
			<th>上榜时间</th>
		</tr>
	{% for daxia in results.result_xiami.daxia %}
	<tr>
		<td><a target="_blank" href="http://www.xiami.com/song/{{daxia.id}}">{{daxia.name}}</a></td>
		<td><a target="_blank" href="http://www.xiami.com/search/artist?key={{daxia.artist}}">{{daxia.artist}}</a></td>
		<td>{{daxia.reason}}</td>
		<td>{{daxia.time}}</td>
	</tr>
	{% endfor %}
	</table>
	{% endif %}
	
</div>
</body>
</html>