<html>
<head>
	<meta charset="UTF-8">
	<title>设置</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>

</head>
<body>
	{% include 'nav.html' %} 

<div class="container" style="padding-top:10px;">
	{% if profile %}
	<h2>{{profile.username}}</h2>
	{% endif %}
	<h3>账户设置</h3>

	{% if profile.netease_username %}
	<p>已绑定网易云音乐账户:<strong>{{profile.netease_username}}</strong></p>
	<a class="fake" href="/#/unbound/netease/">解绑</a><br/>
	{% else %}
	<a class="fake" href="/#/bound/netease/">绑定网易云音乐账户</a><br/>
	{% endif %}
	<!--页内伪跳转-->
	{% if profile.xiami_username %}
	<p>已绑定虾米账户:<strong>{{profile.xiami_username}}</strong>
	</p><a class="fake" href="/#/unbound/xiami/">解绑</a><br/>
	{% else %}
	<a class="fake" href="/#/bound/xiami/">绑定虾米账户</a><br/>
	<a class="fake" href="javascript:;">绑定虾米(淘宝)账户</a><br/>
	{% endif %}

	<a class="fake" href="javascript:;">修改密码(TODO)</a>
	<h3>主页设置</h3>
	<a href="javascript:;">个性化推荐(TODO)</a><br/>
	<a href="javascript:;">个人收藏(TODO)</a><br/>
	<h3>逛逛设置</h3>
	<a href="javascript:;">热门歌单(TODO)</a><br/>
	<a href="javascript:;">新碟上架(TODO)</a><br/>
	<a href="javascript:;">热门单曲(TODO)</a><br/>
	<h3>搜索设置</h3>
	<a href="javascript:;">搜索(TODO)</a><br/>
	<button type="submit" class="btn btn-primary btn-lg">保存(TODO)</button>
	<h3>同步设置</h3>
	<a href="javascript:;">将虾米收藏（歌曲）同步到网易云音乐(TODO)</a><br/>
	<a href="javascript:;">将网易云收藏（歌曲）同步到虾米音乐(TODO)</a><br/>
	<a href="javascript:;">双向同步(TODO)</a>
	<br/>
<div style="height: 150;"></div>
</div>
	<script src="{{STATIC_URL}}js/iframe.js"></script>
</body>
</html>