<html>
<head>
	<meta charset="UTF-8">
	<title>绑定虾米（淘宝）</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<!--
	<script type="text/javascript">
	soundManager.setup({
		url : "{{STATIC_URL}}swf/"
 	})

	function play(is_playable,id,name,artist,album)
	{
		$.ajax({
			type : "POST",
			url : "/get_link/",
			data : {is_playable:is_playable,id:id,name:name,artist:artist,album:album},
			dataType : "text",
			success : function(ret){
				if(ret != "404")
				{
					var mySound = soundManager.createSound({
						url : ret
					});
					mySound.play();
				}
			}
		})
	}
	</script>
	-->
</head>
<body>
<div class="container" style="padding-top:10px;">
	<form class="form-horizontal" method="post" action="">
	  <div class="form-group">
	  	{% if not message.status %}
		<div class="alert alert-warning" role="alert">{{ message.titleMsg }}</div>
		{% endif %}

	  	<label for="taobao_id">淘宝ID:</label>
	  	<input type="text" class="form-control" name='taobao_id' id='taobao_id' placeholder="淘宝ID">
	  	<label for="passwd">密码:</label>
	  	<input type="password" class="form-control" name='passwd' id='passwd' placeholder="密码">
	  	{% if message.captcha_url %}
	  	<label for="captcha">验证码:</label>
	  	<input type="text" class="form-control" name='captcha' id='captcha' placeholder="验证码">
	  	<img src="{{message.captcha_url}}">
	  	{%endif%}
	  	<button type="submit" class="btn btn-primary btn-lg">登录</button>
	  </div>
	</form>

</div>
</body>
</html>