<html>
<head>
	<meta charset="UTF-8">
	<title>LiBerte Music</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script type="text/javascript">
	function playsong(is_playable,id,name,artist,album){
		$.ajax({
				type : "POST",
				//要重新写啊！！！！！！！
				url : "/get_net_link/",
				data : {is_playable:is_playable,id:id,name:name,artist:artist,album:album},
				dataType : "text",
				success : function(ret){
					rarray = ret.split(";")
					if(rarray[0] != "404")
					{
						song = {
							title: name,
							artist: artist,
							album: album,
							cover:rarray[1],
							mp3: rarray[0],
							ogg: ''
							};
							playlist.push(song);
							//console.log(playlist);
							$('#playlist').append('<li>'+song.artist+' - '+song.title+'</li>');
					}
				}
			})
	}
</script>
</head>
<body>
{% include 'nav.html' %}
<div class="container" style="padding-top:10px;">
	{% include 'player.html' %} 
	<!-- a 的href 自己抓  不用原生的-->
	{% if profile%}
	{% if not profile.status %}
	<div class="alert alert-warning" role="alert">{{ profile.message }}</div>
	{% endif %}
	<h2>{{profile.username}}的个人主页</h2>
	<h3>今日个性化推荐</h3>
	<div>
	{%  if profile.taste_netease %}
	<table>
	<tr>
		<th>歌曲</th>
		<th>时长</th>
		<th>歌手</th>
		<th>专辑</th>
	</tr>
	{% for song in profile.taste_netease %}
	
	<tr>
	<td>
	<a  href="#" onclick="playsong('False',{{song.id}},'{{song.name}}','{{song.artist_name}}','{{song.album_name}}')">{{song.name}}</a>
	</td>
	<td>{{song.duration}}</td>
	<td><a target="_blank" href="http://music.163.com/artist?id={{song.artist_id}}">{{song.artist_name}}</a></td>
	<td><a target="_blank" href="http://music.163.com/album?id={{song.album_id}}">{{song.album_name}}</a></td>
	</tr>
	{% endfor %}
	</table>
	{% endif %}
	</div>

<!--
	{%  if profile.customized_netease %}
	{% for song_list in profile.customized_netease %}
	<img src="{{song_list.image}}">
	<a target="_blank" href="http://music.163.com/playlist?id={{song_list.id}}">{{song_list.title}}</a>
	<p>{{song_list.description}}</p>
	{% endfor %}
	{% endif %}
-->
	<h3>个人收藏</h3>
	{%  if profile.favor_song_netease %}
	{% for song_list in profile.favor_song_netease %}
	<img src="{{song_list.coverImgUrl}}">
	<a target="_blank" href="http://music.163.com/playlist?id={{song_list.id}}">{{song_list.name}}</a>
	<p>共 <strong>{{song_list.trackCount}}</strong> 首</p>
	{% endfor %}
	{% endif %}
	<!--
	{% if profile.favor_song_xiami %}
	<h3>虾米收藏</h3>
	{% for song in profile.favor_song_xiami%}
	<a target="_blank" href="http://www.xiami.com/song/{{song.song_id}}">{{song.song_name}}</a><br/>
	{% endfor %}
	{% endif %}

	{% if profile.favor_song_netease %}
	<h3>网易收藏</h3>
	{% for song in profile.favor_song_netease%}
	<a target="_blank" href="http://music.163.com/song?id={{song.song_id}}">{{song.song_name}}</a>
	{% endfor %}
	{% endif %}
	-->
	{% endif %}

	
</div>
</body>
</html>