
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>搜索</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</head>
<body>
<div class="container" style="padding-top:10px;">
	<form class="form-horizontal" method="get" action="">
	  <div class="form-group">
	  	<input type="text" class="form-control" name='keywords' placeholder="输入关键字">
	  	<button type="submit" class="btn btn-primary btn-lg">搜索</button>
	  </div>
	</form>
	{% if results %}
	<table class="table table-hover">
	<tr>
		<th >歌曲</th>
		<th >艺人</th>
		<th >专辑</th>
		<th >来源</th>
	<tr>
	{% for result in results %}
	<tr>
		<td><a href="#" onclick="">{{result.song_name}}</a></td>
		<td>{{result.song_artist}}</td>
		<td>{{result.song_album}}</td>
		{% if result.song_is_playable %}
		<td>虾米</td>
		{% else %}
		<td>网易</td>
		{%endif%}
	</tr>
	{% endfor %}
	</table>
	{% endif %}
</div>
</body>
</html>