<html>
<head>
	<meta charset="UTF-8">
	<title>搜索</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/bootstrap.min.css">
	<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}js/soundmanager2.js"></script>
	
	<script type="text/javascript">
	soundManager.setup({
		url : "{{STATIC_URL}}swf/"
 	})

	function play(is_playable,id,name,artist,album)
	{
		$.ajax({
			type : "POST",
			url : "/get_link/",
			data : {is_playable:is_playable,id:id,name:name,artist:artist,album:album},
			dataType : "text",
			success : function(ret){
				if(ret != "404")
				{
					var mySound = soundManager.createSound({
						url : ret
					});
					mySound.play();
				}
			}
		})
	}
	</script>
</head>
<body>
<div class="container" style="padding-top:10px;">
	<form class="form-horizontal" method="get" action="">
	  <div class="form-group">
	  	<input type="text" class="form-control" name='keywords' placeholder="输入关键字">
	  	<button type="submit" class="btn btn-primary btn-lg">搜索</button>
	  </div>
	</form>
	{% if results %}
	<table class="table table-hover">
	<tr>
		<th >歌曲</th>
		<th >艺人</th>
		<th >专辑</th>
		<th >来源</th>
	</tr>
	{% for result in results %}
	<tr>
		<td><a href="#" onclick="play('{{result.song_is_playable}}',{{result.song_id}},'{{result.song_name}}','{{result.song_artist}}','{{result.song_album}}')">{{result.song_name}}</a></td>
		<td>{{result.song_artist}}</td>
		<td>{{result.song_album}}</td>
		{% if result.song_is_playable %}
		<td>虾米</td>
		{% else %}
		<td>网易</td>
		{%endif%}
	</tr>
	{% endfor %}
	</table>
	{% endif %}
</div>
</body>
</html>