
<html>
<head>
	<title>put</title>
	<script src="{{STATIC_URL}}js/add_playlist.js"></script>

	<script type="text/javascript">

    function sendMessage(e){

    	var test = localStorage.getItem("is_playlist_open");
    	var refresh = localStorage.getItem("is_playlist_fresh");
    	//console.log(test);
    	//localStorage.removeItem("is_playlist_open");
    	if(refresh == null && test == null){
    		//窗口未打开
	        win = window.open("/test_get/");
	        setTimeout("win.postMessage(e,"*");",1000);
	    }
	    else{
	    	setTimeout("win.postMessage(e,"*");",1000);
	    	//window.postMessage(e,"http://127.0.0.1:8080");
    		//console.log(e);
	    }
    }
	</script>
</head>
<body>
<button onclick="sendMessage('1234')">Copy Text</button>

</body>
</html>

