<!DOCTYPE html>
<html>
<head>
	<title>get</title>
	<script type="text/javascript">
	window.addEventListener('message', function(e) {
    	document.getElementById('test').innerText +=  e.data;
	}, false);
	window.onbeforeunload = function()  
{  
  var n = window.event.screenX - window.screenLeft;  
  var b = n > document.documentElement.scrollWidth-20;  
  if(b && window.event.clientY < 0 || window.event.altKey)  
  {  
          var cookie_string =  document.cookie;
          if (cookie_string.indexOf("is_playlist_open")!=-1){
          	document.cookie = cookie_string = cookie_string.substring(0,cookie_string.indexOf("is_playlist_open")-1);
          }
  }
else  
  {  
      alert("是刷新而非关闭");  
  }  
}  

</script>
</head>
<body>
<p id="test"></p>
</body>
</html>