<!DOCTYPE html>
<html>
<head>
	<title>get</title>
	<script src="{{STATIC_URL}}js/add_playlist.js"></script>
	<script type="text/javascript">
	function checkRefresh()
	{
		if( document.refreshForm.visited.value == "" )
		{
			document.refreshForm.visited.value = "1";
			localStorage.setItem("is_playlist_fresh","fresh");
			localStorage.setItem("is_playlist_open","open");
		}
		else
		{
			localStorage.setItem("is_playlist_fresh","refresh");
			localStorage.setItem("is_playlist_open","open");
		}
	}

	window.addEventListener('message', function(e) {
		// /window.parent.postMessage()
		console.log(e);
    	document.getElementById('test').innerText +=  e.data;
	}, true);

	window.onbeforeunload = function(e)  
	{  
    	//关闭或者刷新
		localStorage.removeItem("is_playlist_open");
		localStorage.removeItem("is_playlist_fresh");
	}  

</script>
</head>
<body onLoad="JavaScript:checkRefresh();">
<form name="refreshForm">
<input type="hidden" name="visited" value="" />
</form>
<p id="test"></p>
</body>
</html>